/* Stylesheet */

body{
	background: url("../img/cream_dust.png");
	color: #555;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	}

h1 {
	color: #F66;
	font-weight: 400;
	height: 40px;
	letter-spacing: 5px;
	line-height: 40px;
	margin: 10px 0;
	padding: 10px 30px;
	text-transform: uppercase;
	}

h2 {
	color: #F66;
	font-weight: 400;
	text-transform: Uppercase;
	}

h3 {
	color: #F66;
	font-weight: 400;
	text-transform: uppercase;
	}
	
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#blockquote {
	text-align: center;
	}

img {
	width: 100%;
}

.form-sheet {
	width: 335px;
	margin: 0 auto;
	}
	
input, textarea {
	background: #555;
	border: none;
	color: #F66;
	float: right;
	}
	
input[type="submit"] {
  background: #F66;
  border-radius: 10px;
  border: none;
  color: #555;
  clear: both;
  margin-top: 13px;
}

textarea {
	width: 200px;
	height: 100px;
	}


nav li {
  float: left;
  list-style: none;
}

nav a { 
  color: #F66;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

nav a:hover {
	color: white;
}


p {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	}

footer a {
  background: #555;
  color: #F66;
  font-size: 14px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: Uppercase;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

footer li {
  float: left;
  list-style: none;
  line-height: 80px;
}

footer a:hover {
	color: white;
	}

header, footer {
	background: #555;
	}


/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}