/* Stylesheet */

body{
	background: url("../img/wild_flowers.png");
	}

h1 {
	color: #0F9;
	text-transform: uppercase;
	}

h2{
	color: black;
	text-transform: Uppercase;
	}
	
ul {
	margin: 0;
	padding: 0;
}

#blockquote {
	text-align: center;
	}

#cover img {
	width: 100%;
	}
	

nav li {
  float: left;
  list-style: none;
  line-height: 80px;
}

nav a {
  color: white;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

nav a:hover {
	color: #0F9;
}


p {
	font-family: 'Open Sans', sans-serif;
	}

footer a {
  color: white;
  font-size: 14px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: Capitalize;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

footer li {
  float: left;
  list-style: none;
  line-height: 80px;
}

header, footer {
	background: black;
	color: white;
	height: 80px;
}

/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}