/* Stylesheet */

body{
	background: url("../img/cream_dust.png");
	color: #555;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	}

h1 {
	color: #F66;
	font-weight: 400;
	height: 40px;
	letter-spacing: 5px;
	line-height: 40px;
	margin: 10px 0;
	padding: 10px 30px;
	text-transform: uppercase;
	}

h2 {
	color: #F66;
	font-weight: 400;
	text-transform: Uppercase;
	}

h3 {
	color: #F66;
	font-weight: 400;
	text-transform: uppercase;
	}
	
h4 {
	color: #F66;
	font-weight: 400;
	text-transform: uppercase;
	}
	
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#blockquote {
	text-align: center;
	}

img {
	width: 100%;
}

.form-sheet {
	width: 335px;
	margin: 0 auto;
	}
	
input, textarea {
	background: #555;
	border: none;
	color: #F66;
	float: right;
	}
	
input[type="submit"] {
  background: #F66;
  border-radius: 10px;
  border: none;
  color: #555;
  clear: both;
  margin-top: 13px;
}

textarea {
	width: 200px;
	height: 100px;
	}

nav li {
  float: left;
  list-style: none;
}

nav a { 
  color: #F66;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

nav a:hover {
	color: white;
}


p {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	}

footer a {
  background: #555;
  color: #F66;
  font-size: .875em; /* 14px / 16px = .875em */
  padding: 20px 30px;
  text-decoration: none;
  text-transform: Uppercase;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

footer li {
  float: left;
  list-style: none;
  line-height: 80px;
}

footer a:hover {
	color: white;
	}

header, footer {
	background: #555;
	}


/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}



<<<<<<< HEAD



/* ===========================
		FLUID GRID
==========================*/

.container {
	margin: 0 auto; 
	width: 960px;
	}
	
.grid-50 {
=======
/* ===========================
		GRID SYSTEM
==========================*/

	.container {
		margin: 0 auto;
		width: 960px;
		}
	
	.grid-10 {
		float: left;
		width: 10%;
		}
		
	.grid-20 {
		float: left;
		width: 20%;
		}
		
	.grid-30 {
		float: left;
		width: 30%;
		}
		
	.grid-33 {
		float: left;
		width: 33%;
		}
		
	.grid-40 {
		float: left;
		width: 40%;
		}
		
	.grid-50 {
>>>>>>> 25728d727919ebe2bf0bce1dcff8be9440f91454
		float: left;
		width: 50%;
		} 
		
<<<<<<< HEAD
.grid-100 {
		float: left;
		width: 100%;
		} 

.container:before,
.container:after {	
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
=======
	.grid-60 {
		float: left;
		width: 60%;
		}
		
	.grid-66 {
		float: left;
		width: 66%;
		}
		
	.grid-70 {
		float: left;
		width: 70%;
		}
		
	.grid-80 {
		float: left;
		width: 80%;
		}
		
	.grid-90 {
		float: left;
		width: 90%;
		}
		
	.grid-100 {
		float: left;
		width: 100%;
		}
		

>>>>>>> 25728d727919ebe2bf0bce1dcff8be9440f91454


/* ===========================
		DESKTOP
==========================*/

@media screen and ( max-width: 1024px )
{
	.container {
	width: 768px;
	}
	
	.grid-50 {
		float: left;
		width: 50%;
		} 
		
	.grid-100 {
		float: left;
		width: 100%;
		} 
<<<<<<< HEAD
		
=======
	
>>>>>>> 25728d727919ebe2bf0bce1dcff8be9440f91454
}	
	
/* END OF DESKTOP */


/* ===========================
		TABLET
==========================*/

@media screen and ( max-width: 768px )
{
	
	.container {
	width: 100%;
	}
	
	.grid-50 {
		float: none;
		width: 100%;
		} 
		
	.grid-100 {
		float: none;
		width: 100%;
		} 

}	
	
/* END OF TABLET */


/* ===========================
		PHONE
==========================*/

@media screen and  (max-width: 480px )
{
	.container {
	width: 100%;
	}
	
	.grid-50 {
		float: none;
		width: 100%;
		} 
		
	.grid-100 {
		float: none;
		width: 100%;
		} 
<<<<<<< HEAD

=======
>>>>>>> 25728d727919ebe2bf0bce1dcff8be9440f91454
}	
	
/* END OF PHONE */
